name: Auth Service CI

on:
  push:
    paths:
      - 'AuthService/**'
    branches: [main]

jobs:
  build-auth:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'
      
      - name: Build AuthService
        working-directory: ./AuthService
        run: |
          chmod +x mvnw
          ./mvnw clean package -DskipTests
        env:
          JWT_SECRET: ${{ secrets.JWT_SECRET }}